---
import logo from '../assets/logo.jpg';
---

<div class="flex mb-5 " id="Header">
    <a href="/"><img class="logo h-16 w-16 md:h-20 md:w-20 " src={logo.src} /></a>
    <ul class="flex w-full justify-center items-center gap-5 md:gap-16 text-sm md:text-lg">
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a  href="/case-studies">Case studies</a>
        <a href="/blog">Blog</a>
    </ul>
</div>
